.App {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 80vh;
  text-align: center;
  margin: auto;
  margin-top: 5vh;
  border: 2px solid #ccc;
  background-color: white;
  box-shadow: 0 6px 6px rgba(0,0,0,0.2);
  border-radius: 10px;
}

h1 {
  padding: 10px;
}